AddDefaultCharset utf-8

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !^favicon\.ico
RewriteCond %{REQUEST_FILENAME} !404$
RewriteRule ^(.*)$ index.php [L,QSA]
ErrorDocument 404 http://localhost:8080/404.html
