body{
	background-image: url("./images/background.jpeg");
}

ul.menu{
	list-style-type: none;
}

ul.menu li{
	display: inline;
}

.container {
	background: rgba(00, 00, 00, 0.45);
	border-radius: 5px;
	padding: 15px;
	margin: auto;
}

.menu{
	height: 100%;
}

div.content{
	height: 100px;
	padding: 15px;
	margin: auto;
}