.form {
	width: 30%;
	height: 23%;
	text-align: center;
	margin: 30% auto auto;
	padding: 10px;
}

form.form input {
	margin: auto;
	text-align: center;
	font-size: 22px;
	min-width: 150px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 10px 10px black;
}

form.form button {
	border-radius: 10px;
	background: rgba(22, 22, 22, 0.7);
	box-shadow: 0 10px 10px black;
	font-size: 16px;
	min-width: 150px;
	margin: auto;
	color: white;
}
