<footer>
	<div class="container">
		<div class="footer-col">
			<span>Camagru © 2017</span>
		</div>
		<div class="footer-col">
			<div class="social-bar-wrap">
				<a title="Facebook" href="" target="_blank"><img src="../images/facebook-24.gif"></a>
				<a title="LinkedIn" href="" target="_blank"><img src="../images/linkedin-3-24.gif"></a>
				<a title="Instagram" href="" target="_blank"><img src="../images/instagram-24.gif"></a>
			</div>
		</div>
		<div class="footer-col">
			<a href="mailto:admin@yoursite.ru">Contact us</a>
		</div>
	</div>
</footer>
<script>
	document.getElementsByClassName('nav-toggle')[0].onclick = function () {
		document.getElementById('menu').classList.toggle('active');
	}
</script>
</body>
</html>