<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><?= $header ?></title>
	<link rel="stylesheet" href="../style/style.css">
	<link rel="stylesheet" href="../style/forms.css">
	<link rel="stylesheet" href="../style/camera.css">
	<?php if ($header === 'Camagru'): ?>
	<script src="../scripts/camera.js"></script>
	<?php endif ?>
</head>
<body>
<header>
	<nav class="container">
		<div class="logo">
			<img class="max" src="../images/logo1.png">
		</div>
		<?php if ($header === 'Camagru'): ?>
		<div class="nav-toggle"><span></span></div>
		<ul id="menu">
			<li>
				<a href="http://localhost:8080/profile">User Profile</a>
			</li>
			<li>
				<a href="http://localhost:8080/logout"><img src="../images/logout-24.gif"></a>
			</li>
		</ul>
		<?php endif ?>
	</nav>
</header>
