<?php require_once('header.html') ?>
<div class="wrapper">
	<div class="container">
		<form class="form" action="<?= 'http://localhost:8080/recovery/' . $args ?>" method="POST">
			<?= $_SESSION['Message'] ?>
			<input type="password" name="password" required pattern="<?= pattern ?>" placeholder="Password(min 6)">
			<br/>
			<input type="password" name="password2" required pattern="<?= pattern ?>"
				   placeholder="Re-renter Password">
			<br/>
			<button type="submit" name="recovery_hide">Change</button>
			<br/>
			<button class="forgot" onclick='location.href="Location: http://localhost:8080/login"'>
				Back to login
			</button>
			<br/>
		</form>
	</div>
</div>
<?php require_once('footer.html') ?>
